body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{

      text-align: center;
}

.info{
    background-color: #333;
    display: flex;
    gap: 20px;
    padding-left: 700px;
    
}

.info a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

<<<<<<< HEAD
body a:hover{
    background-color: #ddd;
    color: black;
}

.content{
    margin: 20px;
    font-size: 18px;
}
=======
.para{
    font-size: 18px;
    color: #333;
    text-align: center;
}

.info a:hover{
    background-color: #575757;
}
>>>>>>> 867db8a607e827cbec6189d474556336b3ec59fc
