body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{

      text-align: center;
}

.info{
    background-color: #333;
    display: flex;
    gap: 20px;
    padding-left: 700px;
    
}

.info a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.para{
    font-size: 18px;
    color: #333;
    text-align: center;
}

.info a:hover{
    background-color: #575757;
}